<section class="wrapper" *ngIf="(screenWatcher$|async) as wtc">
  <div class="balance">
    <span class="label">Your Balance:</span>
    <img src="../../../assets/D-like-logo.svg" class="small-logo">
    <span class="value">{{balance}}</span>
    <span>DGTX</span>
  </div>
  <div class="line-settings" *ngIf="wtc >= collapse else minimize">
    <button class="digitex-btn primary">Load Up</button>
    <a href="#" class="setting-link">
      <img src="../../../assets/Settins-Appearance.svg">
    </a>
    <a class="setting-link" (click)="switchTab.emit()">
      <img src="../../../assets/Frame.svg">
    </a>
  </div>
</section>

<ng-template #minimize>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <button class="digitex-btn primary">Load Up</button>
    </button>
    <button mat-menu-item>
      <div class="mnu-item">
        <a href="#" class="setting-link">
          <img src="../../../assets/Settins-Appearance.svg">
        </a>
      </div>
    </button>
    <button mat-menu-item>
      <div class="mnu-item">
        <a class="setting-link" (click)="switchTab.emit()">
          <img src="../../../assets/Frame.svg">
        </a>
      </div>
    </button>
  </mat-menu>
</ng-template>
