<section class="tabs">
  <div class="tabs-line nav">
    <app-tabs [tabs]="headerTabs" [active]="'security'"
              [collapse]="1325"></app-tabs>
  </div>
  <div class="tabs-line body">
    <div class="main-container">
      main
    </div>
    <div class="btn-container">
      <div class="left-part">
        <button class="digitex-btn primary">Prev step</button>
        <button class="digitex-btn primary">Finish</button>
      </div>
      <div class="right-part">
        <button class="digitex-btn dis">Cancel</button>
      </div>
    </div>
  </div>
</section>
